@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

header {
  height: 100vh;
  background-color: #0162be;
  color: #fff;
}

.container {
  margin: 0 7rem;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

nav .logo {
  font-size: 50px;
  color: #fff;
  font-weight: 900;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul a {
  color: aliceblue;
  padding: 0 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  height: 80%;
}

.content .content-text h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.content .content-text h1 span {
  font-size: 80px;
}

.content .content-text h1 span span {
  font-size: 80px;
  color: rgb(36, 8, 152);
}
.content .content-text p {
  font-weight: 300px;
  font-size: 19px;
  margin-bottom: 30px;
  width: 70%;
  line-height: 1.4;
}

.btn {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 900;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.content img {
  width: 200px;
  border-radius: 20px 100px;
  animation: image 2s ease-out forwards;
}

@keyframes image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.social {
  margin-left: 3rem;
  animation: social 2s ease-out;
}

@keyframes social {
  0% {
    transform: translate(500px);
  }
  100% {
    transform: translate(0);
  }
}

.social i {
  color: #fff;
  font-size: 25px;
  margin: 10px 0;
}
